.board{
  position: relative;
  height:300px;
  width: 300px;
  margin: 0 auto;
}

.table-div{
  position: absolute;
  top:0%;
  table-layout:initial;
}
.table-board {
  width: 300px;
  height: 300px;
  top: 0%px;
}

.second > td, .third > td {
  width: 33%;
  border-top: 1px solid black;
}

.risk {
  color: blue;
}

.center, .right {
  border-left: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}
